
*{
    box-sizing: border-box;
}

.fullHeight{
    height: 300px;
}

html,
body,
.main{
    height: 100%;
    padding-top: 40px;
}

.margin20{
    margin-top: 20px;
}

.vr{
    border-right: 1px solid #333;
}

.row-gap{
    margin-bottom: 12px;
}

.margining {
    margin-top : 10px;
    margin-bottom : 10px;
}

.form-section{
    padding-left: 20px;
}

